@font-face {
    font-family: 'good times';
    src: local('good times'), url(../fonts/good times rg.ttf) format('trueType');
}



#cart-image{
    height: 240px;
    width: 180px;
    /* order: 1; */
}

.cart-card{
    margin-bottom: 10px;
    margin-left: 20%;
}

#cart-card{
    display: flex !important;
    flex: 1 1 auto;
    flex-direction: row;
    height: 100%;
    width: 1000px;
    border: 2px solid aqua !important;
    font-family: "good times";
    background-color: #343a40 !important;
    color: white !important;
}

#quantity{
    align-self: center;
}

#total{
    font-family: "good times";
    margin-left: 70%;
    text-decoration: underline;
    color: darkblue;
}