
#filter-button{
  font-family: "good times" !important;
  font-size: 20px;
  background: #343a40 !important;
  color: aqua;
  border: 3px solid aqua ;
  position: relative;
  left: -100px;
}

.filter-menu {
  padding-right: 300px;
  }

#filter-button::after{
  display: none;
  padding: 0px 0px !important;
}

#filter-button:focus{
  box-shadow: none !important;
}

#filter-button:hover{
  color: #343a40 !important;
  background-color: aqua !important;
  border-color: #343a40;
}

#filter-option {
  font-family: "good times" !important;
  font-size: 20px;
  background: aqua !important;
  color: white !important;
}

#filter-option:hover{
  color: white !important;
  background-color: #009999 !important;
}

#filter-option.active{
  background-color:  #009999  !important;
  color: #343a40 !important;
}

.filter-title{
	font-family: "good times" !important;
	color: white;
}