@font-face {
    font-family: 'good times';
    src: local('good times'), url(../fonts/good times rg.ttf) format('trueType');
}


#sort-button{
    font-family: "good times" !important;
    font-size: 20px;
    background: #343a40 !important;
    color: aqua;
    border: 3px solid aqua ;
    position: relative;
    left: 850%;
}

#sort-button::after{
    display: none;
    padding: 0px 0px !important;
}

#sort-button:focus{
    box-shadow: none !important;
}

#sort-button:hover{
    color: #343a40 !important;
    background-color: aqua !important;
    border-color: #343a40;
}  


div.card-deck{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

#sort-option {
    font-family: "good times" !important;
    font-size: 20px;
    background: #343a40 !important;
    color: aqua;
}

#sort-option:hover{
    color: #343a40 !important;
    background-color: aqua !important;
}
    