@font-face {
    font-family: 'good times';
    src: local('good times'), url(../fonts/good times rg.ttf) format('trueType');
  }

#logo{
    height: 80px;
    width: 80px;
}

.nav-link{
    font-family: "good times";
    color:white !important;
    font-size: 20px;
    font-weight: 500;
    
}

a.nav-link:hover{
    color: aqua !important;
}

.active{
    color: aqua !important;
}

.nav-item.dropdown{
    align-content: right;
}

a.nav-item.dropdown:hover{
    text-decoration: none !important;
}

a#basic-nav-dropdown.dropdown-toggle.nav-link::after{
    display: none;
}

.client-side{
    position: absolute;
    display: flex;
    right: 30px;
}

.text-button{
    font-family: "good times";
    color:white !important;
    font-size: 20px;
    font-weight: 500;
    background:none;
border:none;
margin:0;
padding:0;
}

.text-button:hover{
    color: aqua !important;
}

#search-bar{
    position: relative;
    left: 950px;
    margin-top: 2%;
}

#search-input{
    font-family: "good times";
    font-size: 20px;
    width: 25%;
    box-shadow: none;
    border: 2px solid #343a40;
    border-radius: 100px;
}

#search-input:focus{
    border-color: aqua;
    color: #343a40;
}

#search-button{
    font-size: 20px;
    color: aqua;
    margin-right: 60px;
    border: 3px solid aqua;
    border-radius: 10px;
    margin-left: -5px;
    border-color: aqua;
    background-color: #343a40;
}

#search-button:hover{
    border-color: #343a40;
    background-color: aqua;
    color: #343a40;
}

#search-button:focus{
    box-shadow: none;
}

div.dropdown-menu.show{
    text-align: center;
    border: 2px solid aqua;
    background-color: #343a40;
  
}


div.nav-item.dropdown::after{
    display: none;
  
}


#account::after{
    display: none;
}
