.signup-form{
    font-size: 25px;
    font-family: "good times";
    margin-left: 20%;
    margin-right: 20%;
}

input[type=checkbox] {
    margin-top: 1%;
    transform: scale(1.5);
}

#form-input{
    font-family: "good times";
    font-size: 20px;
    width: 100%;
    box-shadow: none;
    border: 2px solid #343a40;
    border-radius: 100px;
}

#form-input:focus{
    border-color: aqua;
    color: #343a40;
}